fastapi
uvicorn[standard]
motor
odmantic
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
google-auth
requests
pillow
numpy
scikit-learn
opencv-python-headless
cloudinary

boto3
