fastapi
uvicorn[standard]
motor
odmantic
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
fastapi-mail
google-auth
requests
httpx
pillow
numpy
scikit-learn
opencv-python-headless
cloudinary

tensorflow-cpu
boto3
