fastapi
uvicorn[standard]
motor
odmantic
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
fastapi-mail
email-validator
google-auth
requests
httpx
certifi
pillow
numpy
scikit-learn
opencv-python-headless
cloudinary
tensorflow-cpu
tf-keras
boto3
slowapi
pytest
pytest-asyncio
anyio
